#iconDiv {
     margin: 0 4px 0 0
}

i, .btn-flat {
    color: white; 
    margin: 5px
}

/* li {
    color: #c51162; 
} */

/* active */

/* #cat {
    height: 100%; 
    width: 100%;
} */

.carousel-item {
    padding-left: 10px; 
}

img {
    padding: 10px; 
}